<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


<bean class="com.xworkz.event.Event" id="event"/>
<bean class="com.xworkz.event.Event" id="event1"/>
<bean class="com.xworkz.event.Projector" id="projector">
<constructor-arg value="200"/>
<constructor-arg value="true"/>
<constructor-arg value="20"/>
<property name="cost" value="1000"/>
</bean>
<bean class="com.xworkz.event.Ball" id="ball">
<constructor-arg value="plastic"/>
<constructor-arg value="20.0"/>
<property name="usedFor" value="cricket"></property>
</bean>

<bean class="com.xworkz.event.Country" id="country">
<constructor-arg value="modi"/>

<property name="president" value="kovind"/>
<property name="capital" value="delhi"/>
<property name="noOfStates" value="29"/>
<property name="population" value="1000000000000"/>
</bean>


</beans>